.my-bg-main {
  background-color: #101113;
}

.my-bg-element {
 background-color: #212224;
}

.my-shadow {
  box-shadow: 0px 0px 30px -9px rgba(0,0,0,0.75);
}

/* warna untuk background #121315 */
/* untuk warna element #1b1c1e */